h1,
h2 {
  text-align: center;
}
h2 {
  color: dodgerblue;
}
.jumbotron {
  background-color: gold;
  text-align: center;
}
h1 {
  color: white;
}
button,
.btn {
  border: 0;
  outline: 0;
  background-color: dodgerblue;
  border-radius: 4px;
  color: white;
  margin: 0 10px;
}

input {
  outline: 0;
  border: 0;
}

label {
  padding-right: 4px;
}

.onLine::before {
  content: "";
}
.onLine {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 20px;
}
.onLine.false {
  background-color: orange;
}

.onLine.true {
  background-color: green;
}
